@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

    /* dark shades of primary color*/
    --clr-primary-1: hsl(281, 71%, 20%);
    --clr-primary-2: hsl(281, 84%, 25%);
    --clr-primary-3: hsl(281, 81%, 29%);
    --clr-primary-4: hsl(281, 77%, 34%);
    --clr-primary-5: hsl(281, 62%, 45%);
    --clr-primary-6: hsl(281, 57%, 50%);
    --clr-primary-7: hsl(281, 65%, 59%);
    --clr-primary-8: hsl(281, 80%, 74%);
    --clr-primary-9: hsl(281, 94%, 87%);
    --clr-primary-10: hsl(281, 100%, 94%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(125, 67%, 44%);
    --clr-green-light: hsl(125, 71%, 66%);
    --clr-black: #222;
    --transition: all 0.3s linear;
    --spacing: 0.1rem;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

/* section */
.section {
  /* width: 90vw; */
  /* margin: 5rem auto; */
}

@media screen and (min-width: 992px) {
  .section {
    /* width: 95vw; */
  }
}

/*
===============
Navbar
===============
*/
nav {
  background: var(--clr-primary-1);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-5);
  transform: rotate(90deg);
}

.links a {
  color: white;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links li:hover{
  background: var(--clr-primary-8);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: white;
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 768px) {
  .nav-center {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
    align-items: center;
  }

  .links li:hover{
    background: var(--clr-primary-1);
  }

  .links a:hover {
    color:var(--clr-primary-8);
    background: var(--clr-primary-1);
    padding-left: 1rem;
  }
}


/*
===============
Slider
===============
*/
.title {
  text-align: center;
  margin-bottom: 2rem;
}
.title h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.title span {
  font-size: 0.85em;
  color: var(--clr-primary-5);
  margin-right: 1rem;
  font-weight: 700;
}
.section-center {
  margin: 0 auto;
  /* margin-top: 4rem; */
  width: 80vw;
  height: 450px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.person-img {
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
  border: 4px solid var(--clr-primary-10);
  box-shadow: var(--dark-shadow);
}
article h4 {
  text-transform: uppercase;
  color: var(--clr-primary-5);
  margin-bottom: 0.25rem;
}
.title {
  text-transform: capitalize;
  margin-bottom: 0.75rem;
  color: var(--clr-grey-3);
}
.text {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
  color: var(--clr-grey-5);
}
.icon {
  font-size: 3rem;
  margin-top: 1rem;
  color: var(--clr-primary-5);
}
.prev,
.next {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  background: var(--clr-grey-5);
  color: var(--clr-white);
  width: 1.25rem;
  height: 1.25rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 1rem;
  border-radius: var(--radius);
  cursor: pointer;
  transition: var(--transition);
}
.prev:hover,
.next:hover {
  background: var(--clr-primary-5);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@media (min-width: 800px) {
  .text {
    max-width: 45em;
  }
  .prev,
  .next {
    width: 2rem;
    height: 2rem;
    font-size: 1.5rem;
  }
}
article {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
article.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
article.lastSlide {
  transform: translateX(-100%);
}
article.nextSlide {
  transform: translateX(100%);
}

/*
===============
Resources
===============
*/
.link-hover:hover {
  /* color: var(--clr-primary-5);   */
  cursor: pointer;
  /* transition: color 0.3s ease; */
}

.h3-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--clr-primary-1);
  transition: width .3s;
}

.h3-underline:hover::after {
  width: 50%;
}
.filter-btn {
  @apply hover:bg-primary-light text-black font-semibold h-7 flex items-center justify-center rounded-lg w-24
}
.filter-dropdown-btn {
  @apply flex px-4 py-2 text-white rounded-md bg-primary-light hover:bg-primary
}

.filter-dropdown-container {
  @apply flex rounded-lg bg-white mt-2 z-10 flex-col items-center justify-center shadow-lg ring-2 absolute inset-x-0 mx-auto left-1/2 -translate-x-1/2 w-5/6 md:inset-auto md:mx-0

}